@import "variables";
@import "framework/framework";
@import "../../node_modules/@fortawesome/fontawesome-pro/scss/fontawesome";
@import "../../node_modules/@fortawesome/fontawesome-pro/scss/brands";
@import "../../node_modules/@fortawesome/fontawesome-pro/scss/solid";
@import "header";
@import "footer";

// blocks
@import "blocks/hero";
@import "blocks/about";
@import "blocks/newsletter";
@import "blocks/inspiration";

html {
	background: $black;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-family: $font-primary;
	font-size: 16px;
	line-height: 1;
	scroll-behavior: smooth; 

	@include desktop-sm-down {
		font-size: 15px;
	}

	@include tablet-down {
		font-size: 14px;
	}

	@include phone-down {
		font-size: 13px;
	}

	@include phone-sm-down {
		font-size: 12px;
	}
}

body {
	color: $white;
}

a {
	color: $white;

	@include hover-focus {
		color: $white;
	}
}

h1,h2,h3,h4,p,ul{
	margin: 0;
}

.desktop{
	@include tablet-down{
		display: none !important;
	}
}

.mobile{
	@include tablet-up{
		display: none !important;
	}
}

.split{
	display: flex;
	flex-direction: column;
	@include tablet-up{
		flex-direction: row;
	}
}

.menu-trigger{
	width: 24px;
	height: 12px;
	background-color: transparent;
	border: none;
	padding: 0;
	position: relative;
	&::before,
	&::after{
		content: '';
		display: block;
		width: 100%;
		height: 2px;
		background: $light;
		transition: all .4s;
		position: absolute;
	}
	&::before{
		top: 0;
	}
	&::after{
		bottom: 0;
	}
	&.close{
		position: absolute;
		top: 50px;
		right: 20px;
		&::before,
		&::after{
			background-color: $black;
		}
		&::before{
			transform: rotate(45deg);
			top: 5px;
		}
		&::after{
			transform: rotate(-45deg);
			bottom: 5px;
		}
	}
}

.btn-arrow{
	width: 50px;
	height: 50px;
	font-size: 18px;
	border: solid 2px $primary;
	color: $primary;
	border-radius: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	@include hover-focus{
		color: $black;
		border-color: $black;
	}
}

.link-arrow{
	color: $primary;
	font-size: 17px;
	font-weight: 900;
	display: flex;
	align-items: center;
	gap: 5px;
	font-family: "Lato", sans-serif;
	max-width: max-content;
	border-bottom: none;
	i{
		font-size: 10px;
		transition: all .4s;
	}
	@include hover-focus{
		color: $primary;
		i{
			transform: translateX(5px);
		}
	}
}